version: '3.8'

services:
  onlyoffice_docs_2:
    image: onlyoffice/documentserver
    container_name: onlyoffice_docs_2
    expose:
      - "80"
    environment:
      - JWT_ENABLED=true
      - JWT_SECRET=x9JcTBdKq92lXELgU8pA84z9Wby2ZQpe
      - DOCUMENT_SERVER_PUBLIC_URL=http://localhost:8083
      - USE_UNAUTHORIZED_STORAGE=true
    extra_hosts:
      - "host.docker.internal:host-gateway"

  nginx_proxy_2:
    image: nginx:latest
    container_name: onlyoffice_nginx_proxy_2
    ports:
      - "8083:80"
    volumes:
      - ./nginx_proxy/onlyoffice2.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - onlyoffice_docs_2
    extra_hosts:
      - "host.docker.internal:host-gateway"
 